<section class="cta-section-bg" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">
          {{ site.t.[layout.lang].callToAction.title }}
        </h2>
        <hr class="light" />
        <p>
          {{ site.t.[layout.lang].callToAction.content }}
        </p>
        <a href="#contact-form" class="btn btn-default btn-xl page-scroll"
          >{{ site.t.[layout.lang].buttons.contactUs }}</a
        >
      </div>
    </div>
  </div>
</section>
