<footer id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">{{ site.t.[layout.lang].contact.title }}</h2>
        <hr class="primary" />
        <p> {{ site.t.[layout.lang].contact.content }} </p>
      </div>

      <div class="col-sm-4 col-sm-offset-2 text-center">
        <a href="https://www.linkedin.com/company/{{ site.linkedin_username }}" target="_blank">
          <i class="fa fa-linkedin wow bounceIn" data-wow-delay=".1s"></i>
        </a>
      </div>
      <div class="col-sm-4 text-center">
        <a href="https://github.com/{{ site.github_username }}" target="_blank">
          <i class="fa fa-github wow bounceIn" data-wow-delay=".1s"></i>
        </a>
      </div>
    </div>
  </div>
</footer>