<pattern id="user_image_container" patternUnits="objectBoundingBox">
  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">
            {{ site.t.fr.manifesto.title }}
          </h2>
          <hr class="light" />
          <p>
            {{ site.t.fr.manifesto.phrase1 }}
          </p>
          <p>
            {{ site.t.fr.manifesto.phrase2 }}
          </p>
          <a href="#contact-form" class="btn btn-default btn-xl page-scroll"
            >{{ site.t.fr.buttons.contactUs }}</a
          >
        </div>
      </div>
    </div>
  </section>
</pattern>
