<pattern id="user_image_container" patternUnits="objectBoundingBox">
  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-justify">
          <h2 class="section-heading">
            {{ site.t.[layout.lang].manifesto.title }}
          </h2>
          <hr class="light" />
          <p>
            {{ site.t.[layout.lang].manifesto.phrase1 }}
          </p>
          <p>
            {{ site.t.[layout.lang].manifesto.phrase2 }}
          </p>
          <p>
            {{ site.t.[layout.lang].manifesto.phrase3 }}
          </p>
          <p>
            {{ site.t.[layout.lang].manifesto.phrase4 }}
          </p>
          <p>
            {{ site.t.[layout.lang].manifesto.phrase5 }}
          </p>
          <p>
            {{ site.t.[layout.lang].manifesto.phrase6 }}
          </p>
          <p>
            {{ site.t.[layout.lang].manifesto.phrase7 }}
          </p>
          <p>
            {{ site.t.[layout.lang].manifesto.phrase8 }}
          </p>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="#contact-form" class="btn btn-default btn-xl page-scroll">{{ site.t.[layout.lang].buttons.contactUs
            }}</a>
        </div>
      </div>
    </div>
  </section>
</pattern>