<pattern id="user_image_container" patternUnits="objectBoundingBox">
  <section class="bg-primary" id="about">
    <div class="container column-flex ">
    <div class="row">
      <div class="text-center">
        <h2 class="section-heading">
            {{ site.t.[layout.lang].manifesto.title }}
          </h2>
          <hr class="light" />
          <p class="section-introduction">
            {{ site.t.[layout.lang].manifesto.phrase1 }}
          </p>

          <div class="container text-muted ">

            <!-- Première ligne avec plus de cartes -->
            <div class="row center-flex">
              {% assign cards = "card1,card2,card3,card4" | split: "," %}
              {% for card in cards %}
                <div class="col-md-3 col-sm-6 column-flex">
                  <div class="custom-panel column-flex">
                      <img src="{{ site.t.[layout.lang].manifesto[card].icon_src }}" alt="Card icon" class="svg-icon">
                      <h3>{{ site.t.[layout.lang].manifesto[card].title }}</h3>
                      <p>{{ site.t.[layout.lang].manifesto[card].content }}</p>
                  </div>
                </div>
              {% endfor %}
            </div>

            <!-- Deuxième ligne avec moins de cartes -->
            <div class="row small-row center-flex py-md-3">
              {% assign cards = "card5,card6,card7" | split: "," %}
              {% for card in cards %}
                <div class="col-lg-3 col-md-6 column-flex">
                  <div class="custom-panel column-flex">
                      <img src="{{ site.t.[layout.lang].manifesto[card].icon_src }}" alt="Card icon" class="svg-icon">
                      <h3>{{ site.t.[layout.lang].manifesto[card].title }}</h3>
                      <p>{{ site.t.[layout.lang].manifesto[card].content }}</p>
                  </div>
                </div>
              {% endfor %}
            </div>

          </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="#contact-form" class="btn btn-default btn-xl page-scroll">{{ site.t.[layout.lang].buttons.contactUs
            }}</a>
        </div>
      </div>
    </div>
  </section>
</pattern>