<section id="media" class="section-style">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ site.t.[layout.lang].medias.title }}</h2>
        <hr class="primary" />
      </div>
    </div>
  </div>

  <div class="container">
    <div class="grid grid--simple" id="media-grid">
      {% for media in site.medias.items %}
      <div class="grid-item">
        <div class="service-box">
          <p class="emoji">
            <a href="{{ media.url }}">
              <img
                alt="{{ media.title }} logo"
                src="{{ media.logo }}"
                {% if media.width %}width="{{ media.width }}"{% endif %}
                {% if media.height %}height="{{ media.height }}"{% endif %}
              />
            </a>
          </p>
          <p class="text-muted">{{ media.content }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
