<section id="partners" class="section-style">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ site.t.[layout.lang].partners.title }}</h2>
        <hr class="primary" />
      </div>
    </div>
  </div>

  <div class="container">
    <div class="grid" id="partners-grid">
      {% for partner in site.t.[layout.lang].partners.items %}
      <div class="grid-item">
        <div class="service-box">
          <p class="emoji">
            <a href="{{ partner.url }}">
              <img 
                alt="{{ partner.title }}-logo"
                src="{{ partner.logo }}"
                {% if partner.width %}width="{{ partner.width }}"{% endif %}
                {% if partner.height %}height="{{ partner.height }}"{% endif %}
              />
            </a>
          </p>
          <h3>{{ partner.title }}</h3>
          <p class="text-muted">{{ partner.content }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
