<!-- jQuery -->
<script src="{{ site.base-url }}/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ site.base-url }}/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ site.base-url }}/js/jquery.easing.min.js"></script>
<script src="{{ site.base-url }}/js/jquery.fittext.js"></script>
<script src="{{ site.base-url }}/js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ site.base-url }}/js/creative.js"></script>

<!-- Form submission handler -->
<script
  data-cfasync="false"
  type="text/javascript"
  src="{{ site.base-url }}/js/form-submission-handler.js"
></script>
