<section id="sponsors" class="section-style">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ site.t.[layout.lang].sponsors.title }}</h2>
        <hr class="primary" />
      </div>
    </div>
  </div>

  <div class="container">
    <div class="grid" id="sponsors-grid">
      {% for sponsor in site.t.[layout.lang].sponsors.items %}
      <div class="grid-item">
        <div class="service-box">
          <p class="emoji">
            <a href="{{ sponsor.url }}">
              <img 
                alt="{{ sponsor.title }}-logo"
                src="{{ sponsor.logo }}"
                {% if sponsor.width %}width="{{ sponsor.width }}"{% endif %}
                {% if sponsor.height %}height="{{ sponsor.height }}"{% endif %}
              />
            </a>
          </p>
          <h3>{{ sponsor.title }}</h3>
          <p class="text-muted">{{ sponsor.content }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
