<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ site.t.fr.steps.title }}</h2>
        <hr class="primary" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="service-box">
          <p class="emoji">
            <span alt="Observateur">👀</span>
          </p>
          <!-- <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i> -->
          <h3>{{ site.t.fr.steps.step1.title }}</h3>
          <p class="text-muted">
            {{ site.t.fr.steps.step1.content }}
          </p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="service-box">
          <p class="emoji">
            <span alt="Robot">🤖</span>
          </p class="emoji">
          <h3>{{ site.t.fr.steps.step2.title }}</h3>
          <p class="text-muted">
            {{ site.t.fr.steps.step2.content }}
          </p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="service-box">
            <p class="emoji">
                <span alt="Alerte">🚨</span>
              </p class="emoji">
          <h3>{{ site.t.fr.steps.step3.title }}</h3>
          <p class="text-muted">{{ site.t.fr.steps.step3.content }}</p>
        </div>
      </div>
    </div>
  </div>
</section>