<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-justify">
        <h2 class="section-heading">{{ site.t.[layout.lang].steps.title }}</h2>
        <hr class="primary" />
        <p>
          {{ site.t.[layout.lang].steps.text1 }}
        </p>
      </div>
      <a>
        <img alt="step1-img" class="center-fit" src="{{ site.t.[layout.lang].steps.image_link1 }}">
      </a>
      <div class="col-lg-12 text-justify">
        <p>
          {{ site.t.[layout.lang].steps.text2 }}
        </p>
      </div>
      <a>
        <img alt="step2-img" class="center-fit" src="{{ site.t.[layout.lang].steps.image_link2 }}">
      </a>
    </div>
</section>