<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          {{ site.t.fr.team.title }}
        </h2>
        <hr class="primary" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img
            class="avatar"
            src="{{ site.baseurl }}/img/team/fg.jpeg"
            alt="test"
          />
          <p class="text-muted">
            FG
          </p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img
            class="avatar"
            src="{{ site.baseurl }}/img/team/analphabete.jpeg"
            alt="test"
          />
          <p class="text-muted">
            Analphabete
          </p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img
            class="avatar"
            src="{{ site.baseurl }}/img/team/felix51.jpeg"
            alt="test"
          />
          <p class="text-muted">
            Félix51
          </p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img
            class="avatar"
            src="{{ site.baseurl }}/img/team/sebastien-e.png"
            alt="test"
          />
          <p class="text-muted">
            Sebastien E
          </p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img
            class="avatar"
            src="{{ site.baseurl }}/img/team/brunolenzi.jpg"
            alt="test"
          />
          <p class="text-muted">
            Bruno Lenzi
          </p>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center">
        <div class="service-box">
          <img
            class="avatar"
            src="{{ site.baseurl }}/img/team/guillaume.jpeg"
            alt="test"
          />
          <p class="text-muted">
            g.uillaume
          </p>
        </div>
      </div>
      <div class="row">
        <div
          class="col-lg-2 col-md-3 col-sm-4 col-xs-6 col-lg-offset-3 text-center"
        >
          <div class="service-box">
            <img
              class="avatar"
              src="{{ site.baseurl }}/img/team/flora.jpeg"
              alt="test"
            />
            <p class="text-muted">
              Flora
            </p>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center">
          <div class="service-box">
            <img
              class="avatar"
              src="{{ site.baseurl }}/img/team/adry.jpeg"
              alt="test"
            />
            <p class="text-muted">
              Adry
            </p>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center">
          <div class="service-box">
            <img
              class="avatar"
              src="{{ site.baseurl }}/img/team/mateo.jpeg"
              alt="test"
            />
            <p class="text-muted">
              Mateo
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center"></div>
  </div>
</section>
